POSTGRES_DB=taskflow
POSTGRES_USER=taskflow
POSTGRES_PASSWORD=taskflow
DB_HOST=postgres
DB_PORT=5432
DB_NAME=taskflow
DB_USER=taskflow
DB_PASSWORD=taskflow
JWT_SECRET=Q2hhbmdlVGhpc1NlY3JldEJhc2U2NEJlZm9yZVByb2QxMjM0NTY3OA==
JWT_EXPIRATION_HOURS=24
VITE_API_URL=http://localhost:8080
